/OPERACIONES21/build/
/21_operaciones/build/
/22/nbproject/private/
/23/nbproject/private/
/23/build/
/25/nbproject/private/
/25/build/
/26/nbproject/private/
/26/build/
/27/nbproject/private/
/28/nbproject/private/
/29/nbproject/private/
/multicines/nbproject/private/
/multicines/build/
/Controladores/nbproject/private/
/Controladores/build/
